#!/bin/sh

FLASKDIR={{ application_path }}

# Activate the virtual environment.
cd $FLASKDIR
. {{ virtualenv_path }}/bin/activate
. {{ virtualenv_path }}/bin/postactivate

# Programs meant to be run under supervisor should not daemonize themselves
# (do not use --daemon).
#exec python tasks.py celery worker -A {{ application_name }} -E -l info --concurrency={{ celery_num_workers }} --settings={{ celery_application_settings_file }}
#exec python tasks.py celery worker -A {{ application_name }} -E -l info --concurrency={{ celery_num_workers }} --settings={{ celery_application_settings_file }}
exec celery worker -A {{ application_name }} tasks -E -l info --concurrency={{ celery_num_workers }} --settings={{ celery_application_settings_file }}
exec celery -A tasks beat -l info