upstream wsgi_server {
    server 127.0.0.1:8000;
    #server unix:{{ virtualenv_path }}/run/gunicorn.sock fail_timeout=0;
}

server {
    listen                      80;
    server_name                 {{ nginx_server_name }};

    proxy_set_header            Host             $host;
    proxy_set_header            X-Real-IP        $remote_addr;
    proxy_set_header            X-Forwarded-For  $proxy_add_x_forwarded_for;
    keepalive_timeout           70;
    resolver                    8.8.4.4 8.8.8.8 valid=300s;
    resolver_timeout            5s;

    server_name_in_redirect         off;
    charset                         utf-8;

    client_max_body_size 4G;

    access_log {{ nginx_access_log_file }};
    error_log {{ nginx_error_log_file }};

    location /static/ {
        alias   {{ nginx_static_dir }};
    }

    location /sitemaps/
    {
        alias   {{ application_path }}/app/sitemaps/;
    }

    location /robots.txt
    {
        alias   {{ application_path }}/app/robots.txt;
    }

    location /media/ {
        alias   {{ nginx_media_dir }};
    }

    location /apple-app-site-association {
        alias   {{ application_path }}/app/apple-app-site-association;
    }

    location / {
        if (-f {{ virtualenv_path }}/maintenance_on.html) {
            return 503;
        }

        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto https;
        proxy_set_header Host $http_host;
        proxy_redirect off;

        # Try to serve static files from nginx, no point in making an
        # *application* server like Unicorn/Rainbows! serve static files.
        if (!-f $request_filename) {
            proxy_pass http://wsgi_server;
            break;
        }
    }

    # Error pages
    error_page 500 502 504 /500.html;
    location = /500.html {
        root {{ application_path }}/app/templates/;
    }

    error_page 503 /maintenance_on.html;
    location = /maintenance_on.html {
        root {{ virtualenv_path }}/;
    }


}