upstream wsgi_server {
    server 127.0.0.1:8000;
}

server {
    listen                      80;
    server_name                 {{ nginx_server_name }};

    proxy_set_header            Host             $host;
    proxy_set_header            X-Real-IP        $remote_addr;
    proxy_set_header            X-Forwarded-For  $proxy_add_x_forwarded_for;
    keepalive_timeout           70;

    server_name_in_redirect         off;
    charset                         utf-8;

    client_max_body_size 4G;

    access_log {{ nginx_access_log_file }};
    error_log {{ nginx_error_log_file }};

    location /static/ {
        alias   {{ nginx_static_dir }};
    }

    location /sitemaps/
    {
        alias   {{ application_path }}/app/sitemaps/;
    }

    location /robots.txt
    {
        alias   {{ application_path }}/app/robots.txt;
    }

    location /media/ {
        alias   {{ nginx_media_dir }};
    }

    location /apple-app-site-association {
        alias   {{ application_path }}/app/apple-app-site-association;
    }

    location / {
        if (-f /webapps/naviplace/maintenance_on.html) {
            return 503;
        }
        proxy_set_header   Host $host;
        proxy_set_header   X-Real-IP $remote_addr;
        proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Host $server_name;
        proxy_redirect off;
        resolver                    8.8.8.8;

        set $prerender 0;
        if ($http_user_agent ~* "baiduspider|twitterbot|facebookexternalhit|rogerbot|linkedinbot|embedly|quora link preview|showyoubot|outbrain|pinterest|slackbot|vkShare|W3C_Validator") {
            set $prerender 1;
        }
        if ($args ~ "_escaped_fragment_") {
            set $prerender 1;
        }
        if ($http_user_agent ~ "Prerender") {
            set $prerender 0;
        }
        if ($uri ~ "\.(js|css|xml|less|png|jpg|jpeg|gif|pdf|doc|txt|ico|rss|zip|mp3|rar|exe|wmv|doc|avi|ppt|mpg|mpeg|tif|wav|mov|psd|ai|xls|mp4|m4a|swf|dat|dmg|iso|flv|m4v|torrent|ttf|woff)") {
            set $prerender 0;
        }

        if ($prerender = 1) {
            #setting prerender as a variable forces DNS resolution since nginx caches IPs and doesnt play well with load balancing
            set $prerender "prerender.naviaddress.local:3000";
            rewrite .* /$scheme://$host$request_uri? break;
            proxy_pass http://$prerender;
        }
        if ($prerender = 0) {
                proxy_pass http://wsgi_server;
                break;
        }
    }

    # Error pages
    error_page 500 502 504 /500.html;
    location = /500.html {
        root {{ application_path }}/app/templates/;
    }

    error_page 503 /maintenance_on.html;
    location = /maintenance_on.html {
        root {{ virtualenv_path }}/;
    }

}